@charset "utf-8";

/*초기화*/

*{
    margin: 0; /* (바깥) 여백*/
    padding: 0; /* (안) 여백*/
}
.bg-blue{
    background-color: #F355F6;
    height: 200px;    
}
html{
    scroll-behavior: smooth;
}

#avatar{
    background-color: goldenrod;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    overflow: hidden;  /*넘침*/
    margin: 0 auto; /* 가로 중앙에 배치(사이즈 크기값을 정확히 해야함)*/
    position: relative; /* 위치 : 상대적인 기준*/
    top: 120px;
}

.summary{
    width: 50%; 
    margin: 100px auto; /*여백 : 상하좌우*/
    text-align: center; /* 텍스트 정렬: 가운데*/
}

.name{
    color: black;
}
.job{
    color: gray;
}
.contact{
    color: lightblue;
}
.greeting{
    text-align: center;
}
.greeting h2{
    color: gray;
    font-size: 20px;
}
.greeting p{
    color: gray;
}

.info{
    text-align: center;
}
.info h2 {
    margin: 20px 0;
}
.info ul li { 
    display: inline-block;
    margin: 30px;
}

.info ul li p {
    margin: 20px 0;
}

.job-career, .freelancer-career, .volunteer-career{
    text-align: center;
}
.job-career ul, .freelancer-career ul, .volunteer-career ul{
    margin: 30px 100px;
}
.travel-spot h2 {
    margin: 20px 0;
}

.travel-spot, .movie-list{
    text-align: center;
}
.travel-spot li, .movie-list li {
    display: inline-block; /*블럭인데 인라인처럼 배치하게 하느 속성*/
    width: 40%;
}
.travel-spot li img, .movie-list li img{
    width: 100%;
    object-fit: cover; /*사진의 크기를 공간에 알맞게 늘리거나 줄이게*/
}
.travel-spot li p, .movie-list li p{
    padding: 20px 0 20px 0;/* 위 오른쪽 아래 왼쪽 순서로 여백 적용*/
} 

.owner {
    background-color: #2677f0;
    padding: 30px 0;
    text-align: center;
}
.owner p{
    display: inline-block;
    margin: 0 200px 0 0;
}
.owner p, .owner a{
    color: white;
}





/*media query*/
@media screen and (max-width: 390px) {
   #avatar-box {
    background-color: red;
    }
}

@media screen and (max-width: 360px) {
    #avatar-box {
     background-color: blue;
     }
 }